{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 col-md-6">
    <div class="card">
        <h5 class="card-header text-primary text-center">Add Single Loan payment </h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <label>IPPIS:</label>
                <input class="form-control" type="number" name="ippis" required><br>
              
                <label>Amount Paid:</label>
                <input class="form-control" type="number" step="0.01" name="amount_paid" required><br>
              
                <label>Month (YYYY-MM-DD):</label>
                <input class="form-control" type="date" name="month" required><br>
                <div class="d-grid">
                <button class="btn btn-primary" type="submit">Submit Payment</button>
            </div>
              </form>
              
        </div>
    </div>
</div> 

{% endblock content %}